<nav class="navbar fixed-top navbar-expand-lg original-color"  id="mainMenu">
  <a class="navbar-brand" href="#">Carlosantana</a></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
    <span class="navbar-text social-icons-box">
      <span><a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a></span><!--Facebook-->
      <span><a href="#" class="social-icon"><i class="fab fa-twitter"></i></a></span><!--Twitter-->
      <span><a href="#" class="social-icon"><i class="fab fa-instagram"></i></a></span><!--Instagram-->
    </span>
  </div>
</nav>
<!-- Jumbotron -->
<div class="jumbotron" align="center">
  <%= image_tag "main_photo.jpg", class: "main-photo" %>
  <h1 class="display-4 title">Carlos Santana</h1>
  <p class="lead content">Aquí una llamativa descripción que capture al visitante.</p>
</div>
<!-- Featured categories -->
<section class="box-categories">
  <div class="row featured-section">
    <div class="col featured-article-1">
      <h1 class="title">Lifestyle</h1>
      <p class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
    </div>
    <div class="col featured-article-2">
      <h1 class="title">Manswear</h1>
      <p class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
    </div>
    <div class="col featured-article-3">
      <h1 class="title">Travel</h1>
      <p class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
    </div>
  </div>
</section>
<!-- Section "Featured Articles" -->
<div class="container">
  <div class="row">
    <section class="col-md-8">
      <div class="featured-header">
        <h1 class="title">Featured articles</h1>
      </div>
      <div class="card-columns">
        <div class="card">
          <%= image_tag "photo-not-available.jpg", class: "card-img-top", alt: "Card image cap" %>
          <div class="card-body">
            <h5 class="card-title">Short article title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <div class="card-text" align="center"><small class="text-muted">Last updated 3 mins ago</small></div>
          </div>
        </div>
        <div class="card">
          <%= image_tag "photo-not-available.jpg", class: "card-img-top", alt: "Card image cap" %>
          <div class="card-body">
            <h5 class="card-title">Short article title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <div class="card-text" align="center"><small class="text-muted">Last updated 3 mins ago</small></div>
          </div>
        </div>
        <div class="card">
          <%= image_tag "photo-not-available.jpg", class: "card-img-top", alt: "Card image cap" %>
          <div class="card-body">
            <h5 class="card-title">Short article title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <div class="card-text" align="center"><small class="text-muted">Last updated 3 mins ago</small></div>
          </div>
        </div>
        <div class="card">
          <%= image_tag "photo-not-available.jpg", class: "card-img-top", alt: "Card image cap" %>
          <div class="card-body">
            <h5 class="card-title">Short article title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <div class="card-text" align="center"><small class="text-muted">Last updated 3 mins ago</small></div>
          </div>
        </div>
        <div class="card">
          <%= image_tag "photo-not-available.jpg", class: "card-img-top", alt: "Card image cap" %>
          <div class="card-body">
            <h5 class="card-title">Short article title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <div class="card-text" align="center"><small class="text-muted">Last updated 3 mins ago</small></div>
          </div>
        </div>
        <div class="card">
          <%= image_tag "photo-not-available.jpg", class: "card-img-top", alt: "Card image cap" %>
          <div class="card-body">
            <h5 class="card-title">Short article title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <div class="card-text" align="center"><small class="text-muted">Last updated 3 mins ago</small></div>
          </div>
        </div>
      </div>
    </section>
    <!-- Aside "Right menu" -->
    <aside class="col-md-3 side-menu">
      <h1>csantana</h1>
      <h1>By categories</h1>
      <!-- Articles by category -->
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Category #1
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <ul>
                <li>Article 1</li>
                <li>Article 2</li>
                <li>Article 3</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Collapsible Group Item #2
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <ul>
                <li>Article 1</li>
                <li>Article 2</li>
                <li>Article 3</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Category 3
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              <ul>
                <li>Article 1</li>
                <li>Article 2</li>
                <li>Article 3</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </aside>
  </div>
</div>
<!-- Footer -->
<div class="footer">
  <div class="bottom-footer"><p>Copyright &copy; 2018 - csantana</p></div>
</div>